<header class="bg-white shadow-md">
  <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
    <div>
      <a class="text-2xl font-bold text-gray-800"> MonSite </a>
    </div>

    <div class="flex items-center space-x-4">
      <a
        class="text-gray-600 hover:text-gray-800 px-3 py-2 rounded-md font-medium"
        routerLink=""
      >
        Voyager
      </a>

      <a
        class="text-gray-600 hover:text-gray-800 px-3 py-2 rounded-md font-medium"
      >
        Billet
      </a>
      <a
        class="text-gray-600 hover:text-gray-800 px-3 py-2 rounded-md font-medium"
        routerLink="/account"
      >
        Compte
      </a>

      @if (!auth.connecte()) {
      <a
        class="bg-blue-600 text-white px-4 py-2 rounded-md font-medium hover:bg-blue-700"
        routerLink="/connexion"
      >
        Se connecter
      </a>
      } @if (auth.connecte()) {
      <a
        class="bg-blue-600 text-white px-4 py-2 rounded-md font-medium hover:bg-blue-700"
        (click)="deconnexion()"
      >
        Se déconnecter
      </a>
      }
    </div>
  </nav>
</header>
