<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a routerLink='' class="brand-logo">TODO</a>
      <ul id="nav-mobile" class="right">
        <li><a (click)="gotosignup()">Sign Up</a></li>
        <li><a (click)="gotologin()">Login</a></li>
      </ul>
    </div>
</nav>
<h4 style="text-align: center;">Login </h4>
<app-forms-login></app-forms-login>
<footer style="margin-top: 18%;text-align: right;">
    Created by Prashath SIAYANAMA
</footer>
</body>


</html>