<div class="flex items-center justify-center min-h-screen bg-gray-100 p-4">
  <div class="w-full max-w-md bg-white rounded-xl shadow-2xl p-8 space-y-6">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Créer votre compte</h2>
    </div>

    <form [formGroup]="form" class="space-y-6" (ngSubmit)="onSubmit()">
      <div class="flex space-x-4">
        <div class="w-1/2">
          <label
            for="first-name"
            class="block text-sm font-medium text-gray-700"
          >
            Prénom
          </label>
          <input
            id="first-name"
            name="first-name"
            type="text"
            autocomplete="given-name"
            formControlName="firstName"
            class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm sm:text-sm"
            [class.border-red-500]="
              form.controls.firstName.invalid && form.controls.firstName.touched
            "
            [class.border-gray-300]="
              !(
                form.controls.firstName.invalid &&
                form.controls.firstName.touched
              )
            "
          />
          @if (form.controls.firstName.invalid &&
          form.controls.firstName.touched
          &&form.controls.firstName.errors?.['required'] ) {
          <div class="mt-1 text-xs text-red-500">
            <p>Le prénom est requis.</p>
          </div>
          }
        </div>

        <div class="w-1/2">
          <label
            for="last-name"
            class="block text-sm font-medium text-gray-700"
          >
            Nom
          </label>
          <input
            id="last-name"
            name="last-name"
            type="text"
            autocomplete="family-name"
            formControlName="lastName"
            class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm sm:text-sm"
            [class.border-red-500]="
              form.controls.lastName.invalid && form.controls.lastName.touched
            "
            [class.border-gray-300]="
              !(
                form.controls.lastName.invalid && form.controls.lastName.touched
              )
            "
          />
          @if ( form.controls.lastName.invalid && form.controls.lastName.touched
          && form.controls.lastName.errors?.['required']) {
          <div class="mt-1 text-xs text-red-500">
            <p>Le nom est requis.</p>
          </div>
          }
        </div>
      </div>

      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">
          Adresse E-mail
        </label>
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          formControlName="email"
          class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm sm:text-sm"
          [class.border-red-500]="
            (form.controls.email.invalid && form.controls.email.touched) ||
            emailTaken()
          "
          [class.border-gray-300]="
            !(form.controls.email.invalid && form.controls.email.touched) &&
            !emailTaken()
          "
        />

        @if (form.controls.email.invalid && form.controls.email.touched ) {
        <div class="mt-1 text-xs text-red-500">
          @if (form.controls.email.errors?.['required']) {
          <p>L'adresse e-mail est requise.</p>
          } @if (form.controls.email.errors?.['email']) {
          <p>Le format de l'e-mail est invalide.</p>
          }
        </div>
        }
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">
          Mot de passe
        </label>
        <input
          id="password"
          name="password"
          type="password"
          autocomplete="new-password"
          formControlName="password"
          class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm sm:text-sm"
          [class.border-red-500]="
            form.controls.password.invalid && form.controls.password.touched
          "
          [class.border-gray-300]="
            !(form.controls.password.invalid && form.controls.password.touched)
          "
        />
        @if ( form.controls.password.invalid && form.controls.password.touched
        && form.controls.password.errors?.['required']) {
        <div class="mt-1 text-xs text-red-500">
          <p>Le mot de passe est requis.</p>
        </div>
        }
      </div>

      <div>
        <button
          type="submit"
          [disabled]="form.invalid"
          class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out"
          [class.opacity-50]="form.invalid"
          [class.cursor-not-allowed]="form.invalid"
        >
          Créer mon compte
        </button>
      </div>
      @if (emailTaken()) {
      <div class="mt-1 text-xs text-red-500">
        <p>Cette adresse e-mail est déjà associée à un compte.</p>
      </div>
      }
    </form>

    <div class="text-center text-sm">
      Déjà un compte ?
      <a
        routerLink="/connexion"
        class="font-medium text-indigo-600 hover:text-indigo-500"
      >
        Vous connecter
      </a>
    </div>
  </div>
</div>
